.App {
  text-align: center;

  background-color: blue;
}
p > input {
  border: none;
  background-color: lightsalmon;
  color: #fff;
  height: 20px;
  padding: 5px;
}
.delIcon {
  margin-top: 15px;
  margin-left: 20px;
  color: #fff;
}
form > input {
  height: 20px;
}
form > input::placeholder {
  color: #000;
  font-size: 10px;
}
form > button {
  height: 25px;
  background-color: blueviolet;
  border: none;
  color: #fff;
}

form {
  padding-top: 40px;

  min-height: 70px;
}
